
{% block content %}
    <h1 style="width: 100%">{% block title %} Eliminar població {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="nom_poblacio">Nom de la població: </label>
            <input type="text" name="nom_poblacio"
                   placeholder="Nom població">
            </input>
        </p>

        <p>
            <button name="enviat">Eliminar població</button>
        </p>
    </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <button onclick="location.href = 'http://127.0.0.1:5000/admin';">Tornar</button>
   
{% endblock %}