{% block content %}
    <h1>{% block title %} Aquestes són les llistes personalitzades creades per tu, {{usuari_actiu}}! {% endblock %}</h1>
    <p>Selecciona la llista que vulguis modificar fent clic al botó Modificar de la seva dreta. </p>
<form method="POST">
    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}
    {% for personalitzada in personalitzades %}
        <div class='personalitzada'>
            <div style="display: inline-block;">
                <h2 style="display: inline;">{{ personalitzada[0] }}</h2>
                <button type="submit" name="codi_llista" value="{{ personalitzada[1] }}" style="display: inline-block; margin-left: 10px;">Modificar</button>
            </div>
                {% for poble in personalitzada[2] %}
                    <p>{{poble}}</p>
                {% endfor %}
        </div>
    {% endfor %}
    <button name="tornar">Tornar</button>
</form>

{% endblock %}