{% block content %}
    <h1>{% block title %} Modifica la llista seleccionada.{% endblock %}</h1>
<form method="POST">
    {% if message %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    <div class='personalitzada'>
        <div style="display: inline-block;">
            <h2 style="display: inline;">{{ personalitzada[0] }}</h2>
            
        </div>
            {% for poble in personalitzada[2] %}
            <div style="display: flex; align-items: center;">
                <p style="margin-right: 10px;">{{ poble }}</p>
                <button type="submit" name="nom_poblacio_eliminar" value="{{ poble }}">Elimina</button>
            </div>
            {% endfor %}
    </div>

    <div>
        <label for="input-field" style="display: inline-block;">Introduir població:</label>
        <input type="text" name="nom_poblacio_afegir" style="display: inline-block;" placeholder="Nom població">
        <button type="submit" style="display: inline-block;" name="afegir">Afegir</button>
    </div>
    <p></p>
    <button name="tornar">Tornar</button>
</form>

{% endblock %}