
{% block content %}
    <h1>{% block title %} Benvingut al home aventurer {{usuari_actiu}} ! {% endblock %}</h1>
    <div>
        <button onclick="location.href = 'http://127.0.0.1:5000/';">Tancar sessió</button>
        <button onclick="location.href = 'http://127.0.0.1:5000/canviar_contrassenya';">Canviar contrasenya</button>
        </div>
    <h2>Viatges</h2>
    <div>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/viatges/crear';">Fer un viatge</button>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/viatges/llista';">Veure els meus viatges</button>
    </div>
    <h2>Llistes estàtiques</h2>
    <div>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/estatiques/subscriure';">Subscriure's</button>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/subscripcions_aventurers_estatiques';">Veure les meves subscripcions</button>
    </div>
    <h2>Llistes personalitzades</h2>
    <div>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/personalitzades/subscriure';">Subscriure's</button>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/subscripcions_aventurers_personalitzades';">Veure les meves subscripcions</button>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/aventurer/llista/crear';">Crear llista</button>
    <button onclick="location.href = 'http://127.0.0.1:5000/home/aventurer/llista/seleccionar';">Modificar llista</button>
    </div>
    {% if message %}
            <p>{{ message }}</p>
        {% endif %}
{% endblock %}